//BALL 
@keyframes ballSlide {
    0% {
      transform: translate(-5px, 45px) scale(0);
      -webkit-transform: translate(-5px, 45px) scale(0);
      -moz-transform: translate(-5px, 45px) scale(0);
      -ms-transform: translate(-5px, 45px) scale(0);
      -o-transform: translate(-5px, 45px) scale(0);
  }
    2% {
      transform: translate(33px, 45px) scale(0.2);
      -webkit-transform: translate(33px, 45px) scale(0.2);
      -moz-transform: translate(33px, 45px) scale(0.2);
      -ms-transform: translate(33px, 45px) scale(0.2);
      -o-transform: translate(33px, 45px) scale(0.2);
  }
  
  60% {
    transform: translate(43px, 45px) scale(0.5);
    -webkit-transform: translate(43px, 45px) scale(0.5);
    -moz-transform: translate(43px, 45px) scale(0.5);
    -ms-transform: translate(43px, 45px) scale(0.5);
    -o-transform: translate(43px, 45px) scale(0.5);
  }
  
  
  
  
    80% {
      transform: translate(47px, -80px) scale(1.5);
      -webkit-transform: translate(43px, -80px) scale(1.5);
      -moz-transform: translate(43px, -80px) scale(1.5);
      -ms-transform: translate(43px, -80px) scale(1.5);
      -o-transform: translate(43px, -80px) scale(1.5);
  }
  
    100% {
      transform: translate(43px, -30px) scale(1);
      -webkit-transform: translate(43px, -30px) scale(1);
      -moz-transform: translate(43px, -30px) scale(1);
      -ms-transform: translate(43px, -30px) scale(1);
      -o-transform: translate(43px, -30px) scale(1);
  }
  }
  

  //TEXT CHANGE WHEN BALL SLIDES
  @keyframes changeText {
    0% {
      content: "Off";
      @include text-shdow($hr:0, $vrt:1px, $col:$haiti);
	    color: $white;
	    letter-spacing: em(1.1px);
    }
    50% {
      content:"";
      
    }
    100% {
      content: "On";
      @include text-shdow($hr:0, $vrt:1px, $col:$haiti);
	    color: $white;
	    letter-spacing: em(1.1px);
    }
  }


  @keyframes bottomTicksBg {
    0% {
      background: rgba(247, 18, 18, 0.8);
    }
    20% {
      background: rgba(247, 18, 18, 0.4);
    }
    70% {
      background: rgba(155, 241, 26, 0.4);
    }
    80% {
      background: rgba(155, 241, 26, 0.6);
    }
    90% {
      background: rgba(155, 241, 26, 0.8);
    }
    100% {
      background:rgba(155, 241, 26, 1);
    }
  }

  @keyframes topTicksBg {
    0% {
        background:linear-gradient(to right,rgb(255, 0, 0), rgb(238, 180, 6, 1));
      }
      20% {
          background: linear-gradient(to right,rgba(247, 18, 18, 0.4), rgb(238, 180, 6, 0.4));
        
      }
      70% {
       
        background: linear-gradient(to right,rgba(155, 241, 26, 0.4), rgb(238, 180, 6, 0.4));
      }
      80% {
        background: linear-gradient(to right,rgba(155, 241, 26, 0.6), rgb(238, 180, 6, 0.6));
        
      }
      90% {
        background: linear-gradient(to right,rgba(155, 241, 26, 0.8), rgb(238, 180, 6, 0.8));
        
      }
      100% {
        background: linear-gradient(to right,rgba(155, 241, 26, 1), rgb(238, 180, 6, 1));
        
      }
  }


  