:root {
    --color-body-background:  #{$mystic};
    --color-body-text:        #{$black};
    --color-lin1-body:        #{$haitiBody};
    --color-lin2-body:        #{$daisyBushBody};
    --color-lin3-body:        #{$hollywoodCeriseBody};
    --color-border:                   #{$daisyBush};
    --color-text-shdow:               #{$luckyPoint};
    --color-nav-background:           #{$keppel};
    --color-nav-boxShdow:             #{$haiti};
    --color-grid-linear13-bg:         #{$mystic};
    --color-grid-linearMed-bg:        #{$white};
    --color-grid-box-shdow:           #{$daisyBush};
    --color-text-headSec:             #{$haiti};
    --color-textShadow-headSec:       #{$keppel};
    --color-input-background:         #{$mystic};
    --color-input-brBox:              #{$haiti};
    --color-input-text:               #{$luckyPoint};
    --color-input-placeholder:        #{$daisyBush};
    --color-material-icons-search:    #{$haiti};
    --color-material-icons-alert:     #{$salomie};
    --color-alert-bg-lin1:            #{$hollywoodCerise};
    --color-alert-bg-lin2:            #{$daisyBush};
    --color-alert-border:             #{$hollywoodCerise};
    --color-alert-text:               #{$salomie};
    --color-traffic-border:           #{$daisyBushBorder};
    --color-traffic-text:             #{$haiti};
    --color-bar-pie-border:           #{$dodgerBlueBorder};
    
    
    
}


.dark {
        --color-lin1-body:          #{$black};
        --color-lin2-body:          #{$haiti};
        --color-lin3-body:          #{$black};
        --color-body-text:          #{$mystic};
        --color-nav-background:     #{$haiti};
        --color-nav-boxShdow:       #{$daisyBush};
        --color-grid-linear13-bg:   #{$hollywoodCeriseDark};
        --color-grid-linearMed-bg:  #{$violet};
        --color-grid-box-shdow:     #{$keppelDark};
        --color-text-headSec:       #{$keppel};
        --color-textShadow-headSec: #{$goldenrod};
    --color-input-background:       #{$haiti};
    --color-input-brBox:            #{$keppel};
    --color-input-placeholder:      #{$mystic};
    --color-material-icons-search:  #{$mystic};
    --color-material-icons-alert:   #{$keppelDark};
    --color-alert-bg-lin1:          #{$hollywoodCerise};
    --color-alert-bg-lin2:          #{$salomie};
    --color-alert-border:           #{$keppel};
    --color-alert-text:             #{$haiti};
    --color-traffic-border:         #{$dodgerBlueBorder};
    --color-traffic-text:           #{$salomie};
    --color-bar-pie-border:         #{$salomie};
    
    

}



