 body{
	background: linear-gradient(225deg, var(--color-lin1-body) 0%, var(--color-lin2-body) 50%,var(--color-lin3-body) 100%);
	height: 100vh;

}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:  
    "header"
    "nav"
    "main"
    "footer";

    @include mq("med") {
        grid-template-columns: 75px 1fr;
        grid-template-areas: 
        "header header"
        "nav main"
        "nav footer";
    }

}






 //HEADER CONTAINER STYLING
 .top-header {
	grid-area: header;
	padding: em(5px);
	background: $dodgerBlue;
	background: linear-gradient(45deg, $haiti, $daisyBush, $hollywoodCerise);
	@include flexy($just: space-between, $align: center);
	@include debug($pix:3px, $color:$black); //BUG: Debugger Mixin
}

 //BELL SVG & USER WRAPPER
 // .flex-wrapper{
	

 //HEADER MEMBER USER CONTAINER
 // .container__member--user {

   // CONTAINERS - BELL
   // .container { 

    //GREEN DOT ABOVE BELL
// .notifi-circle {

    //NAV

// nav {
// 	grid-area: nav;

//MAIN
// main {
// 	grid-area: main;

//CLASS MAIN 

// .main {

    // .grid {
// 	@include grid-br-radius-bg;
// 	margin-bottom: em(10px);

//GRID__COL MODIFIERS
// .grid__col{
// 	@include m(main-header)
//MEDIA QUERIES FROM GRID__COL CONTAINERS



/*WRAPPERS*/	
	
// .wrapper {
		
// 		@include m(dashboard) {



    /*CONTAINERS*/

// .container {



    /*chart widgets*/
//VW SETTINGS
// .container__widget {


//FOOTER


