 body{
	background: linear-gradient(23deg, var(--color-lin1-body) 0%, var(--color-lin2-body) 50%,var(--color-lin3-body) 100%);
	height: 100vh;
    background-size: 50% auto;

}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px 90px auto 20px;
    grid-template-areas:  
    "header"
    "nav"
    "main"
    "footer";

    @include mq("med") {
        grid-template-columns: 75px 1fr;
        grid-template-rows: 90px auto 30px;
        grid-template-areas: 
        "header header"
        "nav main"
        "nav footer";
    }

    @include mq("lg") {
        
        grid-template-rows: 125px auto 30px;
        
    }

}






 //HEADER CONTAINER STYLING
 .top-header {
	grid-area: header;
	padding: em(5px);
	background: $dodgerBlue;
	background: linear-gradient(45deg, $haiti, $daisyBush, $hollywoodCerise);
	@include flexy($just: space-between, $align: center);
	// @include debug($pix:3px, $color:$black); //BUG: Debugger Mixin
}

//GREEN DOT ABOVE BELL
.notifi-circle {
    width: em(15px);
    height: em(15px);
    position: absolute;
    top: em(-7px);
    left:em(28px);
    border-radius: $br-round;
    background-image: radial-gradient(circle, lighten($japanese-laurel, 20%), color-shade(black, light));

    @include mq("med") {
        top: em(-1px);
        left: em(30px);
    }

   @include mq("lg") {
       top: em(0px);
       left: em(48px);
   }
}


//NAV
nav {
	grid-area: nav;
	@extend %pad-sides;
	background: var(--color-nav-background);
	box-shadow:inset 1px 1px  12px var(--color-nav-boxShdow);

	  @include mq("med") {
		@include flexy($dir: column);
	  }
	
}

//MAIN
main {
	grid-area: main;
	@include debug($pix:3px, $color: $black); //BUG: DEBUG MIXIN
	border-width: 2px;
	width: 99%;
	max-width: 1400px;
	margin: em(2px) auto;

}

.main {
	width: 99%;
	max-width: 1200px;
	margin: em(2px) auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	padding: em(16px);
	@extend %marg-cen;
	border-radius: em(15px);
	@include box-shdow($in:inset, $hr:em(1px), $vrt: em(1px), $col:rgba($haiti,.3));
	@include br-default($colu: rgba($haiti,.4));
	// @include debug($pix:2px, $color:$jaffa); //BUG: DEBUG MIXIN


	      //MAIN 2 COLUMNS
                @include mq('med') {
                    grid-template-columns: 50%;
                    
                }
	
}

//MAIN GRID CONTAINERS

.grid {
    @include grid-br-radius-bg;
    padding: em(10px);

      @include m(main-header) {
          @include mq("med") {
              grid-column: 1/ span 2;
          }
      }


      @include m(traffic) {
		@include br-default($colu: var(--color-traffic-border));
// 		// @include debug($electric-violet); //BUG: Debugger Mixin

      }


      @include m(bar-chart) {
		
		@include br-default($colu: var(--color-bar-pie-border));
		// @include debug($japanese-laurel); //BUG: Debugger Mixin
	}

    @include m(pie-chart) {
		
		@include br-default($colu: var(--color-bar-pie-border));
		// @include debug($japanese-laurel); //BUG: Debugger Mixin
	}


    @include m(social) {
        @include flexy($just: space-around, $align: center);
        @include br-default($colu: var( --color-social-border));
        // @include debug($black); //BUG: Debugger Mixin
    }

    @include m(members-contact) {
        @include br-default($colu:$dodgerBlue);

    }

        @include m(members-active) {
            @include br-default($colu:$hollywoodCerise);

        }


        @include m(message) {
            @include br-default($colu: $jaffa );
        }

}


//WRAPPERS
    .wrapper {
        @include m(user-bell) {
        padding: 0 em(3px);
        @include flexy($align: center);
        // @include debug($color: $black); //BUG: Debugger Mixin

        }


        @include m(dashboard) {
			@include flexy($just: space-around);
			// @include debug($lipstick); //BUG: Debugger Mixin
			

		
	  }

       @include m(nav-traf) {
        @include flexy($dir:column);
        // @include debug($lipstick); //BUG: Debugger Mixin
        
       }


       @include m(social-text) {
           @include flexy($dir: column);
           width: 60%;
           height: em(80px);
           text-align: center;
           padding: em(10px) em(5px);
        //    @include debug($lipstick); //BUG: Debugger Mixin


             p {
                 margin: 0;
             }
       }
    }



    //CONTAINERS
    .container {

          @include m(member-user) {
            @include flexy($just: flex-end, $align: center);
            // @include debug($lipstick); //BUG: Debugger Mixin
        
                @include mq("med") {
                    padding-right: em(40px);
                    
                }
            
                @include mq("lg") {
                    padding-right: em(50px);
                
                }
          }



          @include m(bell) {
            position: relative;
            width: em(50px);
            height: em(50px);
            right:em(7px);
            align-self: center;
            border-right: solid 2px $salomie;
            padding: em(4px);
            
            // @include debug($jaffa); //BUG: Debugger Mixin
          
        
                @include mq('med') {
                    width: em(55px);
                    align-self:flex-start;
                    border-right: none;
                    //HACK: Need to add pseudo element - DONE 
                    @include indepent-pseudo(after, 2px, 75px) {
                        content: "";
                        display: block;
                        position: absolute;
                        background: $salomie;
                        left: em(54px);
                        top: em(0px);
                        @include box-shdow($hr:0, $vrt:1px, $blur:2px, $sphd:1px, $col:$haiti);
                        
                        @include mq('lg') {
                            left:80px;
                            top: 8px;
                            
                        }
                        
                    }
                }
            
                @include mq('lg') {
                    width: em(75px);
                    
                }
        }




        @include m(search) {
			position: relative;
			@include flexy($just: flex-end, $align: center);
			width: 70%;
			margin-left: auto;
			border-radius: 0 em(15px) 0 em(15px);
			background: linear-gradient(45deg, rgba($haiti,.5), rgba($daisyBush, .5), rgba($hollywoodCerise, .5));
			padding: em(10px);
			// @include debug($japanese-laurel); //BUG: Debugger Mixin
	
	
	   }


       @include m(alert) {
           position: relative;
           width: 96%;
           max-width: 1000px;
           margin: em(15px) auto em(8px);
           height:em(60px);
           @include grad($dir:-242deg, $color1:var(--color-alert-bg-lin1) 10%,  $color2:var(--color-alert-bg-lin2) 90%);
           @include br-default($colu: var(--color-alert-border) );
           border-radius: em(7px);
           @include debug($color:$jaffa);
           

            p {
                width: 99%;
                margin: auto;
                margin-top:em(18px);
                   @include mq("med") {
                       margin-top: em(10px);
                   }
            }
                    @include mq("med") {
                       height: em(40px);
                    }

                    @include mq("lg") {
                        height: em(45px);
                    }

       }

       
       @include m(widget-full) {
           width: 80vw;
       }

       @include m(widget-half) {
        width: 80vw;
    }


    @include e(svg) {
        width:em(70px);
        height: em(70px);
        @include br-default($pix: em(2px), $colu: var( --color-social-border));
        border-radius: $br-round;
        @include box-shdow($hr:0, $vrt:1px, $blur: 1px, $sphd:1px, $col:var(--color-svg-con-boxShdow));


    }

    @include m(member){
        @include flexy($dir: column, $align: center);
        background: linear-gradient(0deg, $haiti, $daisyBush, $hollywoodCerise);
        border-radius: em(7px);
        margin: em(20px) auto;
        padding: em(5px);
        @include br-default($pix: em(2px), $colu: $dodgerBlue);
        @include box-shdow($hr:0, $vrt:1px, $blur: 1px, $sphd:1px, $col:$haiti);
    }


    @include m(members-act) {
        @include flexy($dir: column, $align: center);
        background: linear-gradient(0deg, $haiti, $daisyBush, $hollywoodCerise);
        border-radius: em(7px);
        margin: em(20px) auto;
        padding: em(5px);
        @include br-default($pix: em(2px), $colu: $dodgerBlue);
        @include box-shdow($hr:0, $vrt:1px, $blur: 1px, $sphd:1px, $col:$haiti);
    }
		 @include m(members-message) {
             position: relative;
             @include flexy($wrap: wrap, $just:center);
            //  @include debug($color:$jaffa); //BUG: Debugger Mixin

             .members--text-actions {
                 margin-right: em(10px);
                 padding-left: em(1px);
			     padding-right: em(20px);
             }

             
         }



         @include m(form-widget) {
             position: relative;
             @include flexy($dir: column);
             @include debug($color:$black); //BUG: Debugger Mixin

         }

    }

 //BELL SVG & USER WRAPPER
 // .flex-wrapper{
	

 //HEADER MEMBER USER CONTAINER
 // .container__member--user {

   // CONTAINERS - BELL
   // .container { 

    //GREEN DOT ABOVE BELL
// .notifi-circle {

    //NAV

// nav {
// 	grid-area: nav;

//MAIN
// main {
// 	grid-area: main;

//CLASS MAIN 

// .main {

    // .grid {
// 	@include grid-br-radius-bg;
// 	margin-bottom: em(10px);

//GRID__COL MODIFIERS
// .grid__col{
// 	@include m(main-header)
//MEDIA QUERIES FROM GRID__COL CONTAINERS



/*WRAPPERS*/	
	
// .wrapper {
		
// 		@include m(dashboard) {



    /*CONTAINERS*/

// .container {



    /*chart widgets*/
//VW SETTINGS
// .container__widget {


//FOOTER


