//==========================
//FORMS
//==========================

	
	
input,
select {
    width: 100%;
    height: em(25px);
    padding: em(15px) em(5px);
    border-radius: $br-rad;
    background: var( --color-input-background);
    @include br-default($pix: 2px, $colu:var(--color-input-brBox));
    @include box-shdow($in:inset, $hr:1px, $vrt:1px,  $sphd:0, $blur:10px, $col:var(--color-input-brBox));
    transition: background-color, border .5s ease-in;




        @include mq("med"){
                    width: 60%;
                    padding: em(14px) em(10px);
        }

        @include mq("lg"){
            width: 55%;
            padding: em(18px) em(14px);
      }

      @include mq("x-lg"){
        width: 40%;
        
  }


   
    
}


      .input {
        
        @include m(searchMember) {
          margin-bottom: em(30px);
        }
      }


  

       input:focus,
      .textarea:focus,
       select:focus {
            
        outline: none;
        @include box-shdow($in:inset, $hr:1px, $vrt:1px,  $sphd:0, $blur:10px, $col:var( --color-input-focus));
        @include br-default($pix: 2px, $colu:var(--color-input-focusbrBox));
    }


.textarea {

    width: 100%;
    padding: em(15px) em(5px);
    border-radius: $br-rad;
    background: var( --color-input-background);
    @include br-default($pix: 2px, $colu:var(--color-input-brBox));
    @include box-shdow($in:inset, $hr:1px, $vrt:1px,  $sphd:0, $blur:10px, $col:var(--color-input-brBox));
    transition: background-color, border .5s ease-in;

}


select {
  height: em(60px);
  padding: 0 em(16px);
  padding-left: em(40px);
  background: $hollywoodCerise;
  font-size: em(10px);
  color: $whisper;
  @include br-default($pix: 4px, $colu:var(--color-input-brBox));
  
  &:invalid {
    color: $whisper;
  

  }

  &:focus {

        @include br-default($pix: 4px, $colu:var(--color-input-focusbrBox));
         @include box-shdow($in:inset, $hr:1px, $vrt:1px,  $sphd:0, $blur:10px, $col:var( --color-input-focus));
  }
}

input[type=checkbox] {
  width: em(50px);
  position: absolute;
  top:-29px;
  left:155px;
  visibility: hidden;
  // @include debug($color:$lipstick); //BUG: Debugger Mixin
             


}

input[type=checkbox]:checked ~ .label__switch .ball-email,
  input[type=checkbox]:checked ~ .label__switch .ball-profile,
  input[type=checkbox]:checked ~ .label__switch  .ball-mode {
    z-index: 1000;
    animation: ballSlide .8s ease-out forwards;
    -webkit-animation: ballSlide .8s ease-out forwards;
}

input[type=checkbox]:checked ~ .label__switch .ball .ball-text::before{
  animation: changeText .5s ease-out forwards .7s;
  -webkit-animation: changeText .5s ease-out forwards .7s;
}


input[type=checkbox]:checked ~ .label__switch.label__switch::before {
  animation: topTicksBg .5s ease-in forwards .4s;
  -webkit-animation: topTicksBg .5s ease-in forwards .4s;
}

input[type=checkbox]:checked ~ .label__switch.label__switch::after {
  animation: bottomTicksBg .5s ease forwards .2s;
  -webkit-animation: bottomTicksBg .5s ease forwards .2s;
}


.label{
    display: block;
    margin-bottom: em(10px);
    color: var(--color-social-text);
    @include text-shdow($col: var(--color-social-textShdow));
    
     

   @include m(search-label) {
       color: var(--color-social-text);
       @include text-shdow($col: var(--color-social-textShdow));
       margin-bottom: em(8px);
    
   }

        
    
}


  




