.svgImg {
    @extend %svg;
    @extend %svg-cent-can;
    width: em(40px);

       @include m(bell) {
          fill: url(#grad1);

        @include mq ("med") {
            margin-left: 0;
            margin-top: em(5px);
            width: em(45px);
            
        }

        @include mq ("lg") {
            margin-left: em(10px);
            margin-top: 0;
            width: em(50px);
            
        }

       }
}


