// ==========================================================================
// Base Styles
// ==========================================================================
/*****************************
My Styles Start
********************************/
* {
	box-sizing: border-box;
	
}





ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
 
  
  
}


p {

margin-bottom: 1.25em;

}


img {
  width: 100%;
}



h3 {
  margin: 0;
}
